#loading-panel {
  align-items: center;
  justify-content: center;
}

.loading-text {
  font: var(--primary-text-font);
}

.loading-icon {
  font-size: 40px;
}

.spin {
  animation: spin infinite 500ms linear;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
