#physics-practical .practical-section {
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
}

#physics-practical .practical-section-header {
  text-decoration: underline;
  margin: 0 0 5px 0;
  font: var(--secondary-header-font);
}

#physics-practical .practical-section-content {
  margin: 5px 0 0 0;
  font: var(--primary-font);
}

#physics-practical .img-wrapper {
  height: fit-content;
  width: fit-content;
  margin: 10px auto;
  padding: -5px;
  border-radius: 20px;
  overflow: hidden;
}

#physics-practical .img-wrapper.loading-img {
  height: 50vmin;
  width: 90vmin;
  background: linear-gradient(135deg, var(--secondary-bg), var(--secondary-bg), var(--accent), var(--secondary-bg), var(--secondary-bg));
  background-size: 400% 400%;
  animation: background-gradient 1.0s ease infinite;
}

#physics-practical .img-wrapper:not(.error-img) .img-error-text {
  display: none;
}

#physics-practical .img-wrapper.error-img .img-error-text {
  font: var(--primary-font);
}

[data-theme="dark"] #physics-practical .img-wrapper.light {
  display: none;
}

[data-theme="light"] #physics-practical .img-wrapper.dark {
  display: none;
}


#physics-practical .img-wrapper.loading-img img,
#physics-practical .img-wrapper.error-img img {
  display: none;
}

#physics-practical .practical-file-diagram {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent
}
[data-orientation="horizontal"] #physics-practical .practical-file-diagram {
  height: 50dvh;
}
[data-orientation="vertical"] #physics-practical .practical-file-diagram {
  width: 95dvw;
}

#physics-practical .practical-section-more-button {
  cursor: pointer;
  height: 40px;
  width: fit-content;
  display: flex;
  gap: 5px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  background: transparent;
  align-items: center;
  transition: all 0.2s ease;
}

#physics-practical .practical-section-more-button:active {
  transform: scale(0.95);
}

#physics-practical .practical-section-more-button p,
#physics-practical .practical-section-more-button i {
  margin: 0;
  font-size: 15px;
}

#physics-practical .practical-section-more-button i {
  font-size: 20px;
}

#physics-practical .practical-main-formula {
  font: var(--secondary-header-font);
  font-weight: 500;
  text-align: center;
  margin: 15px auto;
}

#physics-practical .moved-div {
  width: 100%;
  padding: 0 0 0 30px;
}

#physics-practical .moved-div p {
  margin: 0;
  font: var(--primary-font);
}

#physics-practical .practical-section-input-div {
  display: flex;
  gap: 0;
}

#physics-practical .practical-section-input-div p {
  margin: 0;
  font: var(--primary-font);
}

#physics-practical .practical-section-input-div input {
  width: 70px;
  padding: 0;
  margin: 0 2px 0 10px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  background: transparent;
  font: var(--primary-font);
  text-align: center;
}

#physics-practical .practical-section-input-div input:focus {
  outline: none;
}

#physics-practical .observation-table-header {
  margin: 25px auto 5px auto;
  font: 500 15px Arial;
  text-align: center;
}

#physics-practical .observation-table-div {
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
  margin: 20px 0 0 0;
}

#physics-practical .observation-table-div::-webkit-scrollbar {
  display: none;
}

#physics-practical .observation-table {
  height: 100%;
  margin: 0;
  gap: 0;
  padding: 0;
  display: flex;
}

#physics-practical .add-row-btn {
  position: sticky;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  margin: 5px 0;
  gap: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--border-color);
}

#physics-practical .add-row-btn p {
  margin: 0;
  color: var(--primary-bg);
}

#physics-practical .add-row-btn i {
  color: var(--primary-bg);
}

#physics-practical .add-row-btn .ripple-span {
  background: var(--secondary-bg);
}

#physics-practical .observation-table-column {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 0;
  /* border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color); */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

#physics-practical .observation-table-column:nth-child(1) {
  width: 50px;
  border-right: none;
  /* border-left: 1px solid var(--border-color); */
}

#physics-practical .observation-table-column-header {
  max-height: 60px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  margin: 0;
  padding: 0;
  gap: 0;
  text-align: center;
}

#physics-practical .observation-table input {
  min-height: 40px;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0;
  border: 1px solid var(--border-color);
  border-radius: 0px;
  outline: none;
  text-align: center;
  background: transparent;
}

#physics-practical .observation-table input.invalid {
  border-color: rgb(255, 85, 85);
}

#app #physics-practical .observation-table input:focus {
  background: var(--secondary-bg);
}

#physics-practical .pas-div {
  display: flex;
}

#physics-practical .pas-number-div {
  width: 10%;
  font: var(--primary-font);
  text-align: center;
}

#physics-practical .pas-text-div {
  width: 90%;
  text-align: left;
}

#physics-practical .pas-div p {
  margin: 3px 0;
  font: var(--primary-font);
}