@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Momo+Trust+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "./styles/animations.css";
@import "./styles/colors.css";

/* #region MARK: Variables
*/
[data-orientation="vertical"] {
  --font-scale: 1;
  --header-scale: 1;
  --icon-scale: 1;

  --primary-font: 500 calc(20px * var(--font-scale)) "Inter", sans-serif;
  --secondary-font: 500 calc(16px * var(--font-scale)) "Inter", sans-serif;

  --primary-header-font:
    300 calc(30px * var(--header-scale)) "Inter", sans-serif;
  --secondary-header-font:
    300 calc(22px * var(--header-scale)) "Inter", sans-serif;

  --icon-size: calc(24px * var(--icon-scale));
  --toggle-icon-size: calc(25px * var(--icon-scale));
  --navigation-icon-size: calc(18px * var(--icon-scale));

  --loading-icon-size: calc(40px * var(--icon-scale));
  --loading-font-size: calc(20px * var(--font-scale));

  --button-height: 60px;
  --button-height-grid-view: 200px;
}

[data-orientation="horizontal"] {
  --font-scale: 1;
  --header-scale: 1;
  --icon-scale: 1;

  --primary-font: 500 calc(20px * var(--font-scale)) "Inter", sans-serif;
  --secondary-font: 500 calc(16px * var(--font-scale)) "Inter", sans-serif;

  --primary-header-font:
    300 calc(30px * var(--header-scale)) "Inter", sans-serif;
  --secondary-header-font:
    300 calc(22px * var(--header-scale)) "Inter", sans-serif;

  --icon-size: calc(24px * var(--icon-scale));
  --toggle-icon-size: calc(25px * var(--icon-scale));
  --navigation-icon-size: calc(24px * var(--icon-scale));

  --loading-icon-size: calc(40px * var(--icon-scale));
  --loading-font-size: calc(20px * var(--font-scale));

  --button-height: 10vh;
  --button-height-grid-view: 35vh;
}

/* #endregion Variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 100ms ease,
    color 100ms ease;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* #region body */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

/* #region MARK: app
*/

p,
i,
input {
  color: var(--primary-text-color);
}

/* #region inner-app */

/* #region inner-app-tab-container */

/* #endregion inner-app-tab-container */

/* #region global styles */

.toggle-effect {
  position: relative;
  overflow: hidden;
}

.glow-span {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, var(--accent) 40%, transparent);
  opacity: 0.3;
}

.ripple-span {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 400ms linear;
  pointer-events: none;
  background: var(--accent);
  background: radial-gradient(circle, transparent, var(--accent), #00000000);
}

.top-bar {
  position: sticky;
  z-index: 2;
  top: 0;
  bottom: auto;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background: var(--primary-bg);
}

.top-bar.column {
  flex-direction: column;
  align-items: flex-start;
}

[data-os="ios"] .top-bar {
  background: linear-gradient(180deg, var(--primary-bg) 30%, #00000000);
}

.toggle {
  --size: 45px;
  cursor: pointer;
  touch-action: manipulation;

  height: var(--size);
  width: var(--size);

  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-bg);

  i {
    font-size: var(--toggle-icon-size);
  }
}

[data-os="ios"] .toggle {
  background: var(--blur-bg);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.content {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content.added {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-fill {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button-container {
  flex-shrink: 0;
  height: fit-content;
  width: 95%;

  overflow: hidden;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  .button-container.list-view {
    border-radius: calc(var(--button-height) / 2);
  }
}

.action-btn {
  height: var(--button-height);
  width: 100%;

  padding: 0 20px;

  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  background: var(--secondary-bg);
  transition: transform 300ms ease;

  &:active {
    border-radius: calc(var(--button-height) / 2);
  }
  p {
    font: var(--primary-font);
  }
  i {
    font-size: var(--icon-size);
  }
}

/* #endregion global styles */
