#app.vertical {
  --list-header: 700 5vw Arial;
  --button-font: 400 4.5vw Arial;
  --button-icon-size: 5vw;
  --button-height: 60px;
  --button-height-grid-view: 200px;
}
#app.horizontal {
  --list-header: 700 5vh Arial;
  --button-font: 400 4vh Arial;
  --button-icon-size: 4.5vh;
  --button-height: 10vh;
  --button-height-grid-view: 35vh;
}

.practicals-list-div {
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0 0 200px 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.practicals-list-class-header {
  margin: 0 auto 0 20px;
  align-self: flex-start;
  font: var(--list-header);
}

.practicals-list {
  height: fit-content;
  width: 96%;
  overflow: hidden;
  margin: 10px 0 30px 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.practicals-list.list-view {
  border-radius: 15px;
  gap: 2px;
}
.practicals-list.grid-view {
  border-radius: 15px;
  gap: 20px;
}

.practicals-list.list-view button {
  cursor: pointer;
  height: var(--button-height);
  width: 100%;
  padding: 0 15px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--button-font);
  background: var(--secondary-bg);
  transition: all 0.2s ease;
}

.practicals-list.grid-view button {
  cursor: pointer;
  height: var(--button-height-frid-view);
  width: 100%;
  padding: 0 15px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  background: var(--secondary-bg);
}

.practicals-list p {
  font: var(--button-font);
}
.practicals-list i {
  font-size: var(--button-icon-size);
}